<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pastoreo</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../style.css">

    
</head>
<body>
    
        <header>
            <div class="logo">
                <img src="C:\Users\SENA\Desktop\fincaVillaLuz\app\templates\img\logo-sena-verde-png-sin-fondo.webp" alt="logo">
                <h1 class="nombre">Finca Villa Luz</h1>
            </div>
            <nav>
                
             
                <a href="">Crear cuenta</a>
                <a href="">Login</a>
            </nav>
        </header>
    <form class="formulario">
        <h2 class="name">Editar pastoreo</h2>
        <div class="input-group">
            <div class="input-conteiner">
                <label for="IDPastoreo">ID Pastoreo</label><br>
                <input type="text"  placeholder="ID Pastoreo">
            </div>
            <div class="input-conteiner">
                <label for="Fechadeiniciopastoreo">Fecha de inicio pastoreo</label><br>
                <input type="text"  placeholder="Fecha de inicio pastoreo">
            </div>

            <div class="input-conteiner">
                <label for="Duraciondepastoreo">Duracion del pastoreo</label><br>
                <input type="text"  placeholder="Duracion del Pastoreo">
            </div>

            <div class="input-conteiner">
                <label for="Cargaanimal">Carga animal</label><br>
                <input type="text"  placeholder="Carga animal">
            </div>

            <div class="input-conteiner">
                <label for="Horasdepastoreo">Horas de pastoreo</label><br>
                <input type="text"  placeholder="Horas de pastoreo">
            </div>

            <div class="input-conteiner">
                <label for="Idpraderas">ID praderas</label><br>
                <input type="text"  placeholder="ID praderas">
            </div>

            <div class="input-conteiner">
                <label for="IDanimal">ID animal</label><br>
                <input type="text"  placeholder="ID animal">
            </div>


            <div class="button">
                <button  type="submit"> <a href=""></a>Editar Datos</button>

            </div>
            

        


        </div>
    </form>


</body>
</html>