html {
    height: 100%;
}

body {
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background: url('img/CAMPO.jpg') no-repeat center fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    display: flex;
    width: 100%;
    min-height: 70px;
    background-color: rgba(251, 254, 249, 0.9);
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 80px;
    margin-right: 10px;
}

.nombre {
    color: #040404;
}

nav a {
    font-weight: 600;
    padding-right: 20px;
    text-decoration: none;
    color: #021300;
    transition: color 0.3s;
}

nav a:hover {
    color: #4c9403;
}

form {
    margin: 20px;
    padding: 20px;
    background: rgba(76, 148, 3, 0.8);
    border-radius: 10px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.3);
    text-align: center;
    color: white;
    width: 80%;
    max-width: 600px;
}

.formulario h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.input-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.input-conteiner {
    flex: 1 1 calc(50% - 20px);
    margin: 10px;
}

.input-conteiner label {
    display: block;
    margin-bottom: 5px;
}

.input-conteiner input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

.button {
    text-align: center;
    margin-top: 20px;
}

.button button {
    padding: 10px 20px;
    background-color: #4c9403;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.4s, transform 0.3s;
}

.button button:hover {
    background-color: #ffffff;
    color: #050505;
    transform: scale(1.05);
}

.button button:active {
    background-color: #4c9403;
}

/* Estilo mejorado para la tabla */
table {
    width: 90%;
    max-width: 1200px;
    border-collapse: collapse;
    margin: 20px auto;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.3);
}

table th, table td {
    padding: 15px;
    border: 1px solid #ddd;
    text-align: center;
}

table th {
    background-color:   #12bd12;
    color: white;
}

tbody tr {
    transition: background-color 0.3s;
}

tbody tr:hover {
    background-color: #f0f0f0;
}

@media (max-width: 700px) {
    header, body {
        flex-direction: column;
    }

    form {
        width: 90%;
        max-width: 90%;
    }

    nav {
        padding: 10px 0;
    }

    .input-conteiner {
        flex: 1 1 100%;
    }
}
