<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/boot/css/bootstrap.css') }}">
    <script src="{{ url_for('static', filename='/boot/js/bootstrap.js') }}"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styleCliente.css') }}">
    <title>Aprendiz</title>
    
</head>

<body>
    <div class="overlay">
        <h1>Lista de Aprendiz</h1>
        <div style="overflow-x:auto;">
            <table>
                <tr>
                    <th>ID</th>
                    <th>Nombre Aprendiz</th>
                    <th>Documento Aprendiz</th>
                    <th>Direccion Aprendiz</th>
                    <th>Telefono Aprendiz</th>
                    <th>Correo Aprendiz</th>
                    <th>Contraseña Aprendiz</th>
                    <th>Acciones</th>
                </tr>
                {% for aprendiz in data %}
                    <tr>
                        <td>{{ aprendiz.idAprendiz}}</td>
                        <td>{{ aprendiz.nombreAprendiz}}</td>
                        <td>{{ aprendiz.documentoAprendiz}}</td>
                        <td>{{ aprendiz.direccionAprendiz}}</td>
                        <td>{{ aprendiz.telefonoAprendiz}}</td>
                        <td>{{ aprendiz.correoAprendiz}}</td>
                        <td>{{ aprendiz.passwordAprendiz}}</td>
                        <td>
                            <a href="{{ url_for('aprendiz.edit', id=aprendiz.idAprendiz) }}"><i class="bi bi-pencil-square"></i></a>
                            <a href="{{ url_for('aprendiz.delete', id=aprendiz.idAprendiz) }}"><i class="bi bi-archive"></i></a>
                            <!-- Agrega aquí el enlace para eliminar -->
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <a href="{{ url_for('aprendiz.add')}}">Agregar Aprendiz</a>
        <br>
       <!-- <a href="{{ url_for('aprendiz.inicio')}}">Inicio</a>-->

    </div>
</body>
</html>
