<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Mi página principal</title>
</head>
<body>
    <nav class="navbar bg-body-tertiary">
        <div class="container-fluid">
          <<form class="d-flex" role="login" action="{{ url_for('auth.login') }}" method="get">
            <input class="form-control me-2" type="hidden" aria-label="Login">
            <button class="btn btn-outline-success" type="submit">Iniciar Sesión</button>
        </form>
        </div>
      </nav>
    <h1>¡Bienvenido a mi página web!</h1>
    <h2> FINCA VILLA LUZ</h2>
    <a href="{{ url_for('principal/index.html') }}" class="btn btn-primary mt-3">Iniciar Sesión</a>
    <a href="{{ url_for('auth.login') }}">Login</a>

    {% if current_user.is_authenticated %}
        <a href="{{ url_for('auth.logout') }}">Cerrar sesión</a>
    {% endif %}
</body>
</html>